# Jupyter notebook/lab support.
ipykernel
# Jupyter lab.
jupyterlab
# Jupyter notebook.
notebook
# Numerical arrays.
numpy
# Quantum computing.
qiskit[visualization]==2.3.1
# Quantum simulators.
qiskit-aer==0.17.2